<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %> 


<div class="container">
    <div class="row">
        <div class="col-md-offset-3 cl-md-6 text-center">
        <h1 style="color: blue;"><%= title %></h1>
        <form class="form" method="POSt">

        <!--this is the form for the add page -->
        <div class="form-group">
            <label for="NameTextField">Incident Title</label>
            <input type="text" class="form-control"
            id="NameTextField"
            placeholder="Enter the Incident title"
            name="Name"
            required>
        </div>
        <div class="form-group">
            <label for="DateTimeTextField">Incident Title</label>
            <input type="text" class="form-control"
            id="DateTimeTextField"
            placeholder="Enter the Incident title"
            name="DateTime"
            required>
        </div>
        <div class="form-group">
            <label for="TypeTextField">Incident Title</label>
            <input type="text" class="form-control"
            id="TypeTextField"
            placeholder="Enter the Incident title"
            name="Type"
            required>
        </div>

        <div class="form-group">
            <label for="DescriptionTextField">Incident Title</label>
            <input type="text" class="form-control"
            id="DescriptionTextField"
            placeholder="Enter the Incident title"
            name="Description"
            required>
        </div>


        <div class="form-group">
            <label for="AdminTextField">Incident Title</label>
            <input type="text" class="form-control"
            id="AdminTextField"
            placeholder="Enter the Incident title"
            name="Admin"
            required>
        </div>

        <div class="form-group">
            <label for="DamageTextField">Incident Title</label>
            <input type="text" class="form-control"
            id="DamageTextField"
            placeholder="Enter the Incident title"
            name="Damage"
            required>
        </div>

        <div class="form-group">
            <label for="StatusTextField">Incident Title</label>
            <input type="text" class="form-control"
            id="StatusTextField"
            placeholder="Enter the Incident title"
            name="Status"
            required>
        </div>

        <button class="btn btn-primary" type="submit" style="color: black;">
            <i class="fa-solid fa-thumbs-up"></i> Submit
        </button>

        <a href="/incident" class="btn btn-warning" style=": black;">
            <i class="fa-solid fa-ban"></i> Cancel
        </a>

<%- include ../partials/bottom_nav.ejs %> 
<!--footer-->
<%- include ../partials/footer.ejs %> 