<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %> 

<main>
    <!-- main  Content-->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <div class="row">
            <div class="offset-md-1 col-md-14">
            <table class="table table-bordered table-striped table-hover table-dark">
                <tr class="d-flex">

                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">DateTime</th>
                <th class="text-center col-2">Type</th>
                <th class="text-center col-2">Description</th>
                <th class="text-center col-2">Admin</th>
                <th class="text-center col-2">Damage</th>
                <th class="text-center col-2">Status</th>
            </tr>
            <% for(let count=0;count<report.length;count++) { %>

                <tr class="d-flex">
                    <td class="text-center col-2"><%= report[count].Name %></td>
                    <td class="text-center col-2"><%= report[count].DateTime %></td>
                    <td class="text-center col-2"><%= report[count].Type %></td>
                    <td class="text-center col-2"><%= report[count].Description %></td>
                    <td class="text-center col-2"><%= report[count].Admin %></td>
                    <td class="text-center col-2"><%= report[count].Damage %></td>
                    <td class="text-center col-2"><%= report[count].Status %></td>
                    </tr>
                <% } %>
        </table> 
        




<%- include ../partials/bottom_nav.ejs %> 
<!--footer-->
<%- include ../partials/footer.ejs %> 