<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>
        <!--Nav Bar-->
        <main>
            <!-- main  Content-->
            <div class="jumbotron jumbotron-fluid text-center p-4 border border-light rounded">
                <div class="container">
                    <h1 class="display-3">Welcome To Incident Vault
                        <%= title %> Page</h1>

                    <% if (title == "Home") { %>
                        <style>
                            body {
                                background-image: url('/Assets/Mountain.jpg');
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                color: #fff;
                            }
                        </style>
                        <br>
                        <br>
                        <section id="homeSection">
                            <div class="home-content">
                                <h3>All of your incident reports are in the Incident Report page.</h3>
                                <h3>Head on over to the Incident Report page to Create, Read, Update and Delete Incidents.</h3>
                                <br>
                                <h5>Click on logo to Start you Incident Report</h5>
                                <a href="/assignments">
                                    <img src="/Assets/system.gif" alt="GIF" class="img-fluid" width="200">
                                </a>
                            </div>

                        </section>
                        <% } %>

                </div>

            </div>
            <br>
            <br>
            <br>
            <br>
        </main>
        <%- include partials/bottom_nav.ejs %>
            <!--footer-->
            <%- include partials/footer.ejs %>